* {
}

header {
  height: 969px;
  background-image: url("./assets/header-bg.png");
  background-size: cover;
}
header h1 {
  text-align: center;
  font-family: "Exo", sans-serif;
  font-size: 4rem;
}
header span {
  color: #777779;
}
.play-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #8185a3;
  box-shadow: none !important;
  cursor: pointer;
}
.play-button img {
  padding-left: 18px;
  padding-top: 15px;
  color: white;
}

.try-now-btn {
  background: #ff6d6d !important;
  width: 190px !important;
  height: 50px !important;
  text-transform: uppercase;
  color: white !important;
  font-family: "Exo", sans-serif;
  font-size: 16px;
}

.section-two .design {
  font-family: "Exo", sans-serif;
  padding-top: 185px !important;
  padding-bottom: 168px !important;
}
.section-two .design h2 {
  font-size: 16px;
  color: #ff6d6d;
  text-transform: uppercase;
  font-weight: bold;
}
.section-two .design h1 {
  font-weight: bold;
}
.section-two .design h1 span {
  color: #ff6d6d !important;
}
.section-two .design span {
  max-width: 570px;
  color: #717171 !important;
  font-weight: bold;
}

.section-two .figure {
  background: lightgrey;
  position: relative;
  overflow: hidden;
}
.section-two .triangle-block img {
  position: absolute;
  left: -22%;
  top: -10%;
  transform: rotate(13deg);
}
.section-two .row {
  margin: 0 !important;
}

@media screen and (max-width: 991px) {
  .section-two .figure {
    background: lightgrey;
    position: absolute;
    overflow: hidden;
    height: 969px;
    z-index: -1;
  }
  .section-two .row {
    position: relative !important;
  }

  .section-two .triangle-block img {
    position: absolute;
    left: -22%;
    top: -10%;
    transform: rotate(13deg);
  }
}

@media screen and (max-width: 992px) {
  .section-three {
    background: #f6f5f3;
  }
}

.section-three {
  font-family: "Exo", sans-serif;
  padding-top: 223px;
  background-image: url("./assets/section3bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -40px;
  height: 900px;
  background-color: #f6f5f3;
}
.section-three_main {
  margin-bottom: 95px;
}
.section-three_main h1 {
  font-weight: bold;
}
.section-three_main h2 {
  color: #ff6d6d;
}

.section-three .row {
  margin: 0 !important;
}
.section-three .row h2 {
  font-weight: bold;
}
.section-three .row span {
  font-weight: bold;
}
.section-three .row div {
  margin-bottom: 183px;
}
@media screen and (max-width: 990px) {
  .section-three {
    background-color: #f6f5f3;
    height: fit-content;
    background-position: 0px -40px;
  }
  .section-two .design {
    padding-bottom: 0px !important;
  }
}

.description {
  font-family: "Exo", sans-serif;
  padding-top: 90px;
  padding-bottom: 105px;
  position: relative;
  overflow: hidden;
}
.description .row {
  margin: 0 !important;
}

.description__image__macbook img {
  width: 100%;
}
.description__image__triangle {
  position: absolute;
  left: -39%;
  top: -14%;
  transform: scaleX(-1);
  z-index: -1;
}
.description__text h1 {
  font-size: 40px;
}
.description__text h1 span {
  color: #ff6d6d;
}
.description__text h2 {
  color: #ff6d6d;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .description__image__triangle {
    position: absolute;
    left: -70%;
    top: -23%;
    transform: scaleX(-1);
    z-index: -1;
  }
  .description__text h1 span {
    color: #ffff;
  }
  .description__text h2 {
    color: #ffff;
    font-size: 16px;
  }
}
