* {
}

header {
  height: 969px;
  background-image: url("./assets/header-bg.png");
  background-size: cover;
}
header h1 {
  text-align: center;
  font-family: "Exo", sans-serif;
  font-size: 4rem;
}
header span {
  color: #777779;
}
.play-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #8185a3;
  box-shadow: none !important;
  cursor: pointer;
}
.play-button img {
  padding-left: 18px;
  padding-top: 15px;
  color: white;
}

.try-now-btn {
  background: #ff6d6d !important;
  width: 190px !important;
  height: 50px !important;
  text-transform: uppercase;
  color: white !important;
  font-family: "Exo", sans-serif;
  font-size: 16px;
}

.section-two {
  height: 969px;
}

.section-two .design {
  font-family: "Exo", sans-serif;
}
.section-two .design h2 {
  font-size: 16px;
  color: #ff6d6d;
  text-transform: uppercase;
  font-weight: bold;
}
.section-two .design h1 span {
  color: #ff6d6d;
}
.section-two .design span {
  max-width: 570px;
}

.section-two .figure {
  background: lightgrey;
  position: relative;
  overflow: hidden;
}
.section-two .triangle-block img {
  position: absolute;
  left: -22%;
  top: -10%;
  transform: rotate(13deg);
}
.section-two .row {
  margin: 0 !important;
}

@media screen and (max-width: 991px) and (min-width: 552px) {
  .section-two .row {
    position: relative !important;
  }
  .section-two .figure {
    background: lightgrey;
    position: absolute;
    overflow: hidden;
    height: 500px;
    z-index: -1;
  }
  .section-two .triangle-block img {
    position: absolute;
    left: -22%;
    top: -10%;
    transform: rotate(13deg);
  }
}
@media screen and (max-width: 551px) {
  .section-two .row {
    position: relative !important;
  }
  .section-two .figure {
    background: lightgrey;
    position: absolute;
    overflow: hidden;
    height: 100%;
    z-index: -1;
  }
  .section-two .triangle-block img {
    position: absolute;
    left: -22%;
    top: -10%;
    transform: rotate(13deg);
  }
}
