* {
}

header {
  height: 969px;
  background-image: url("./assets/header-bg.png");
  background-size: cover;
}
header h1 {
  text-align: center;
  font-family: "Exo", sans-serif;
  font-size: 4rem;
}
header span {
  color: #777779;
}
.play-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #8185a3;
  box-shadow: none !important;
  cursor: pointer;
}
.play-button img {
  padding-left: 18px;
  padding-top: 15px;
  color: white;
}

.try-now-btn {
  background: #ff6d6d !important;
  width: 190px !important;
  height: 50px !important;
  text-transform: uppercase;
  color: white !important;
  font-family: "Exo", sans-serif;
  font-size: 16px;
}

.section-two .design {
  font-family: "Exo", sans-serif;
  padding-top: 185px !important;
  padding-bottom: 168px !important;
}
.section-two .design h2 {
  font-size: 16px;
  color: #ff6d6d;
  text-transform: uppercase;
  font-weight: bold;
}
.section-two .design h1 {
  font-weight: bold;
}
.section-two .design h1 span {
  color: #ff6d6d !important;
}
.section-two .design span {
  max-width: 570px;
  color: #717171 !important;
  font-weight: bold;
}

.section-two .figure {
  background: lightgrey;
  position: relative;
  overflow: hidden;
}
.section-two .triangle-block img {
  position: absolute;
  left: -22%;
  top: -10%;
  transform: rotate(13deg);
}
.section-two .row {
  margin: 0 !important;
}

@media screen and (max-width: 991px) {
  .section-two .figure {
    background: lightgrey;
    position: absolute;
    overflow: hidden;
    height: 969px;
    z-index: -1;
  }
  .section-two .row {
    position: relative !important;
  }

  .section-two .triangle-block img {
    position: absolute;
    left: -22%;
    top: -10%;
    transform: rotate(13deg);
  }
}

@media screen and (max-width: 992px) {
  .section-three {
    background: #f6f5f3;
  }
}

.section-three {
  font-family: "Exo", sans-serif;
  padding-top: 223px;
  background-image: url("./assets/section3bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -40px;
  background-color: #f6f5f3;
}
.section-three_main {
  margin-bottom: 95px;
}
.section-three_main h1 {
  font-weight: bold;
}
.section-three_main h2 {
  color: #ff6d6d;
}

.section-three .row {
  margin: 0 !important;
}
.section-three .row h2 {
  font-weight: bold;
}
.section-three .row span {
  font-weight: bold;
}
.section-three .row div {
  margin-bottom: 183px;
}
@media screen and (max-width: 990px) {
  .section-three {
    background-color: #f6f5f3;
    height: fit-content;
    background-position: 0px -40px;
  }
  .section-two .design {
    padding-bottom: 50px !important;
  }
}

.description {
  font-family: "Exo", sans-serif;
  padding-top: 90px;
  padding-bottom: 105px;
  position: relative;
  overflow: hidden;
}
.description .row {
  margin: 0 !important;
}

.description__image__macbook img {
  width: 100%;
}
.description__image__triangle {
  position: absolute;
  left: -39%;
  top: -14%;
  transform: scaleX(-1);
  z-index: -1;
}
.description__text {
  font-weight: bold;
}
.description__text h1 {
  font-size: 40px;
  font-weight: 600;
}
.description__text h1 span {
  color: #ff6d6d;
}
.description__text h2 {
  color: #ff6d6d;
  font-size: 16px;
  font-weight: 600;
}
.description__text p {
  color: #717171;
}

@media screen and (max-width: 1024px) {
  .description__image__triangle {
    position: absolute;
    left: -70%;
    top: -23%;
    transform: scaleX(-1);
    z-index: -1;
  }
  .description__text h1 span {
    color: #ffff;
  }
  .description__text h2 {
    color: #ffff;
    font-size: 16px;
  }
}
.clients {
  background-image: url("./assets/bgClients.png");
  background-color: grey;
  color: white;
  background-size: cover;
}
.clients .row.clients-body {
  margin: 0 !important;
}
.clients__items {
  margin-top: 106px;
  margin-bottom: 103px;
}
.clients__items h4 {
  font-size: 22px;
}
.clients__items h5 {
  color: #ff6d6d;
  font-size: 16px;
  font-family: "Exo", sans-serif;
}
.clients__items p {
  font-family: "Exo", sans-serif;
  font-style: italic;
  font-size: regular;
  font-size: 16px;
  color: #b3b3b5;
}

@media screen and (max-width: 991px) {
  .clients__items.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .clients__logos.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.browser {
  font-family: "Exo", sans-serif;
  padding-top: 100px;
  background-color: #f6f5f3;
}
.browser .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.browser__info h3 {
  font-weight: 600;
  font-size: 16px;
  color: #ff6d6d;
}
.browser__info h2 {
  font-weight: 600;
  font-size: 40px;
}
.browser__info p {
  color: #6e6e6d;
  font-weight: 600;
  letter-spacing: 2px;
}
.browser__image {
  margin-top: 110px;
}
.browser__image img {
  width: 100%;
}
.tryNow {
  font-family: "Exo", sans-serif;
  padding-top: 98px;
  padding-bottom: 86px;
  color: white;
  background-color: #323969;
}
.tryNow .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.tryNow__info {
  margin-bottom: 30px;
}
.tryNow__emailForm__items input[type="text"] {
  background-color: #464c77 !important;
  color: #ffff !important;
  border: 1px solid #464c77;
  padding: 10px 28px;
}
.tryNow__emailForm__items input[type="button"] {
  background-color: #ff6d6d;
  color: #ffff !important;
  border: 1px solid #ff6d6d;
  border-radius: 2px;
  padding: 10px 28px;
  width: 258px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.tryNow__emailForm__items input[type="text"]::-webkit-input-placeholder {
  color: #f6f5f3;
}
.tryNow__emailForm__items input[type="text"]::-moz-placeholder {
  color: #f6f5f3;
}
.tryNow__emailForm p:nth-child(3) {
  color: #8a8ea7;
}
.tryNow__emailForm a {
  color: #8a8ea7 !important;
}
.tryNow__emailForm__trial {
  background: url(./assets/arrow.png) no-repeat;
  background-size: 56px;
  background-position-x: 81%;
  background-position-y: 89%;
  height: 50px;
}
.trial__second {
  display: none !important;
}

@media screen and (max-width: 1199px) {
  .trial__first {
    display: none !important;
  }
  .trial__second {
    display: unset !important;
    margin: 0 auto !important;
    background: url(./assets/arrow.png) no-repeat !important;
    background-size: 56px !important;
    background-position-x: 6% !important;
    background-position-y: 67% !important;
    height: 58px !important;
    width: 285px !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 320px) {
  .tryNow__emailForm__items input[type="button"] {
    width: 241px !important;
  }
}

footer {
  font-family: "Exo", sans-serif;
  padding-top: 92px;
  padding-bottom: 103px;
  padding-left: 150px;
  position: relative;
  overflow: hidden;
}
footer .image__triangle {
  position: absolute;
  right: -84.5%;
  top: -182%;
  transform: rotate(-264deg);
  z-index: -1;
}
@media screen and (min-width: 1537px) {
  footer .image__triangle {
    position: absolute;
    right: -51%;
    top: -182%;
    transform: rotate(-264deg);
    z-index: -1;
  }
}
@media screen and (max-width: 575px) {
  footer .image__triangle {
    position: absolute;
    right: -84.5%;
    top: -103%;
    transform: rotate(-264deg);
    z-index: -1;
  }
}
footer .body.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
footer h3 {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 25px;
}
footer h3 span {
  font-family: "Lato", sans-serif;
  font-size: 25px;
}
footer p {
  color: #717171 !important;
}
footer a {
  color: #717171 !important;
}
.footer__email__btn {
  width: 50px;
  height: 50px;
  background-color: #ff6d6d;
  border: 1px solid #ff6d6d;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
footer input {
  width: 214px;
  height: 49px;
  background: #f6f6f6 !important;
  border: 1px solid #f6f6f6;
  border-radius: 2px;
  padding: 10px 28px;
}
@media screen and (max-width: 575px) {
  footer {
    padding-left: 0 !important;
    text-align: center;
  }
}

@media screen and (min-width: 574px) and (max-width: 768px) {
  footer {
    padding-left: 0 !important;
    text-align: center;
  }
}
@media screen and (min-width: 575px) and (max-width: 617px) {
  .footer__email__btn {
    width: 214px;
  }
}

@media screen and (max-width: 324px) {
  .footer__email__btn {
    width: 214px;
  }
}
.body:nth-child(1) {
  position: relative;
}
.polygon {
  position: absolute;
  top: -6%;
  left: 22%;
  z-index: -1;
}
.body:nth-child(1) span {
  color: white;
}
@media screen and (min-width: 1390px) {
  .polygon {
    position: absolute;
    top: -6%;
    left: 23%;
    z-index: -1;
  }
}
@media screen and (min-width: 1590px) and (max-width: 1727px) {
  .polygon {
    position: absolute;
    top: -6%;
    left: 21%;
    z-index: -1;
  }
}
@media screen and (min-width: 1728px) and (max-width: 2560px) {
  .polygon {
    position: absolute;
    top: -6%;
    left: 13%;
    z-index: -1;
  }
}
@media screen and (max-width: 1389px) {
  .polygon {
    position: absolute;
    top: -6%;
    left: 28%;
    z-index: -1;
  }
}
@media screen and (max-width: 1199px) {
  .polygon {
    position: absolute;
    top: -6%;
    left: 14%;
    z-index: -1;
  }
}
@media screen and (max-width: 1127px) {
  .polygon {
    position: absolute;
    top: -6%;
    left: 16%;
    z-index: -1;
  }
}
@media screen and (max-width: 983px) {
  .polygon {
    position: absolute;
    top: -6%;
    left: 19%;
    z-index: -1;
  }
}
@media screen and (max-width: 768px) {
  .polygon {
    position: absolute;
    top: -6%;
    left: 54%;
    z-index: -1;
  }
}
